body{
    background-color: #133550;
}

#header{
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;   
    color: #fff;
}

#title{
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
}

.mt-7{ /*applied to the increase the space between the containers*/
    margin-top: 7rem;
}

.carousel-item img{ /*applied to the images in the carousel*/
    width: 100%;
    height: 350px;
    object-fit: cover;
}

#history{
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    color: #fff;
}

#history-text p{
    padding-top: 10px;
    padding-left: 10px;
    font-size: medium;
}

#history-image{
    width: 500px;
    height: 300px;
    object-fit: cover;
}

#testimonials{
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    color: #000;
}

#test1{
    height: 350px;
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
}

#test1 p{
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
}

#test2{
    height: 350px;
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
}

#test2 p{
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
}

#test3{
    height: 350px;
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
}

#test3 p{
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
}

#client-title{
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    color: #fff;
}
