body{
    background-color: #133550;
}

#header{
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;   
    color: #fff;
}

#title{
    text-align: center;
}

#subtitle{
    font-size: 68px;
    padding: 18px;
    line-height: 70px;
}

#blocks{
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
}

#service1{
    border-radius: 10px;
    background-color: #fff;
    height: 350px;
    width: 350px;
}

#service1 h4{
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
}
#service1 p{
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
}

#service2{
    border-radius: 10px;
    background-color: #fff;
    height: 350px;
    width: 350px;
}

#service2 h4{
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
}
#service2 p{
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
}

#service3{
    border-radius: 10px;   
    background-color: #fff;
    height: 350px;
    width: 350px;
}

#service3 h4{
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
}
#service3 p{
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
}

#service4{
    border-radius: 10px;
    background-color: #fff;
    height: 350px;
    width: 350px;
}

#service4 h4{
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
}
#service4 p{
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
}

#service5{
    border-radius: 10px;
    background-color: #fff;
    height: 350px;
    width: 350px;
}

#service5 h4{
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
}
#service5 p{
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
}

#service6{
    border-radius: 10px;
    background-color: #fff;
    height: 350px;
    width: 350px;
}

#service6 h4{
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
}
#service6 p{
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
}

.carousel-item img{
    width: 600px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}